<div class="p-3 text-decoration-none">
  <h1>Stupid coaching</h1>
  <p> Ask your coaching anything </p>
  <div class="d-flex">
    <form action="/answer" data-turbo="false" class="d-flex w100">
      <input type="text" name="question" placeholder="">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
